<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fishman.mapper.LatereturnrecordsMapper">

    <resultMap id="BaseResultMap" type="com.fishman.model.entity.Latereturnrecords">
            <id property="recordid" column="RecordID" jdbcType="INTEGER"/>
            <result property="userid" column="UserID" jdbcType="INTEGER"/>
            <result property="umbrellaid" column="UmbrellaID" jdbcType="INTEGER"/>
            <result property="latetime" column="LateTime" jdbcType="TIMESTAMP"/>
            <result property="fineamount" column="FineAmount" jdbcType="DECIMAL"/>
            <result property="status" column="Status" jdbcType="OTHER"/>
    </resultMap>

    <sql id="Base_Column_List">
        RecordID,UserID,UmbrellaID,
        LateTime,FineAmount,Status
    </sql>
</mapper>
